.l-owner-data {
    margin-top: 89px;
    margin-inline: auto;
    max-width: 800px;
    padding-inline: 30px;
    padding-bottom: 100px;
}

@media screen and (min-width: 768px), print {
    .l-owner-data {
        padding-bottom: 120px;
    }
}